.row {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 20x;
  padding: 10px;
  border-radius: 3px;
  background-color: brown;
}
body {
  text-align: center;
  background-image: url("../images/medivalbackground.jpg");
  color: rgb(171, 164, 103);
}
